.root {
    /* neutrals */
    -color-bg:          #EDE9E2;
    -color-surface:     #F8F6F2;
    -color-ink:         #2B2622;
    -color-muted:       #8A8074;

    /* accents */
    -color-accent:        #F6651D;
    -color-accent-hover:  #DF4825;
    -color-accent-active: #EC1B65;
    -color-accent-alt-1:  #EC7F1B;
    -color-accent-alt-2:  #F6261D;

    -fx-background-color: -color-bg;
    -fx-font-family: "Manrope";
    -fx-font-weight: normal;
    -fx-text-fill: -color-ink;
}

.landing-root {
    -fx-background-color: -color-accent;
}